In [1]:
# Dependencies
import pandas as pd

# ACCIDENT

In [2]:
# read CSV accident 2020
accident_20_df=pd.read_csv('CRSS2020CSV/accident.csv')
accident_20_df.head()

,CASENUM,STRATUM,STRATUMNAME,REGION,REGIONNAME,PSU,PJ,PSU_VAR,URBANICITY,URBANICITYNAME,...,WEATHR_IM,WEATHR_IMNAME,MAXSEV_IM,MAXSEV_IMNAME,NO_INJ_IM,NO_INJ_IMNAME,ALCHL_IM,ALCHL_IMNAME,PSUSTRAT,WEIGHT
0,202002121240,9,Stratum 9 - LMY PV No Injuries in Crash,4,"West (MT, ID, WA, OR, CA, NV, NM, AZ, UT, CO, ...",20,4140,20,2,Rural Area,...,10,Cloudy,0,No Apparent Injury (O),0,No Person Injured/Property Damage Only Crash,2,No Alcohol Involved,25,161
1,202002121829,8,Stratum 8 - NLMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",28,4139,28,1,Urban Area,...,1,Clear,2,Suspected Minor Injury (B),1,1,2,No Alcohol Involved,11,132
2,202002121849,9,Stratum 9 - LMY PV No Injuries in Crash,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",12,4142,12,1,Urban Area,...,1,Clear,0,No Apparent Injury (O),0,No Person Injured/Property Damage Only Crash,2,No Alcohol Involved,12,166
3,202002123484,10,Stratum 10 - Other,4,"West (MT, ID, WA, OR, CA, NV, NM, AZ, UT, CO, ...",20,4140,20,2,Rural Area,...,4,Snow,0,No Apparent Injury (O),0,No Person Injured/Property Damage Only Crash,2,No Alcohol Involved,25,214
4,202002123576,10,Stratum 10 - Other,1,"Northeast (PA, NJ, NY, NH, VT, RI, MA, ME, CT)",22,4149,22,2,Rural Area,...,4,Snow,0,No Apparent Injury (O),0,No Person Injured/Property Damage Only Crash,2,No Alcohol Involved,5,220

,CASENUM,STRATUM,STRATUMNAME,REGION,REGIONNAME,PSU,PJ,PSU_VAR,URBANICITY,URBANICITYNAME,...,WEATHR_IM,WEATHR_IMNAME,MAXSEV_IM,MAXSEV_IMNAME,NO_INJ_IM,NO_INJ_IMNAME,ALCHL_IM,ALCHL_IMNAME,PSUSTRAT,WEIGHT
0,202002121240,9,Stratum 9 - LMY PV No Injuries in Crash,4,"West (MT, ID, WA, OR, CA, NV, NM, AZ, UT, CO, ...",20,4140,20,2,Rural Area,...,10,Cloudy,0,No Apparent Injury (O),0,No Person Injured/Property Damage Only Crash,2,No Alcohol Involved,25,161
1,202002121829,8,Stratum 8 - NLMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",28,4139,28,1,Urban Area,...,1,Clear,2,Suspected Minor Injury (B),1,1,2,No Alcohol Involved,11,132
2,202002121849,9,Stratum 9 - LMY PV No Injuries in Crash,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",12,4142,12,1,Urban Area,...,1,Clear,0,No Apparent Injury (O),0,No Person Injured/Property Damage Only Crash,2,No Alcohol Involved,12,166
3,202002123484,10,Stratum 10 - Other,4,"West (MT, ID, WA, OR, CA, NV, NM, AZ, UT, CO, ...",20,4140,20,2,Rural Area,...,4,Snow,0,No Apparent Injury (O),0,No Person Injured/Property Damage Only Crash,2,No Alcohol Involved,25,214
4,202002123576,10,Stratum 10 - Other,1,"Northeast (PA, NJ, NY, NH, VT, RI, MA, ME, CT)",22,4149,22,2,Rural Area,...,4,Snow,0,No Apparent Injury (O),0,No Person Injured/Property Damage Only Crash,2,No Alcohol Involved,5,220

In [3]:
# SELECT RETAINED COLUMNS ACCIDENT 2020
accident_20_brief_df= accident_20_df[['CASENUM','URBANICITY','VE_TOTAL','VE_FORMS','PERMVIT','NUM_INJ','MONTH',
                                      'YEAR','DAY_WEEK','HOUR','ALCOHOL','MAX_SEV','WRK_ZONE','LGT_COND','WEATHER']]
accident_20_brief_df.head()

,CASENUM,URBANICITY,VE_TOTAL,VE_FORMS,PERMVIT,NUM_INJ,MONTH,YEAR,DAY_WEEK,HOUR,ALCOHOL,MAX_SEV,WRK_ZONE,LGT_COND,WEATHER
0,202002121240,2,2,2,2,0,1,2020,4,8,9,0,0,1,10
1,202002121829,1,1,1,1,1,1,2020,4,1,2,2,0,8,1
2,202002121849,1,2,2,2,0,1,2020,4,13,9,0,0,1,1
3,202002123484,2,1,1,1,0,1,2020,4,14,9,0,0,1,4
4,202002123576,2,1,1,2,0,1,2020,4,17,9,0,0,2,4

,CASENUM,URBANICITY,VE_TOTAL,VE_FORMS,PERMVIT,NUM_INJ,MONTH,YEAR,DAY_WEEK,HOUR,ALCOHOL,MAX_SEV,WRK_ZONE,LGT_COND,WEATHER
0,202002121240,2,2,2,2,0,1,2020,4,8,9,0,0,1,10
1,202002121829,1,1,1,1,1,1,2020,4,1,2,2,0,8,1
2,202002121849,1,2,2,2,0,1,2020,4,13,9,0,0,1,1
3,202002123484,2,1,1,1,0,1,2020,4,14,9,0,0,1,4
4,202002123576,2,1,1,2,0,1,2020,4,17,9,0,0,2,4

In [4]:
# read CSV accident 2019
accident_19_df=pd.read_csv('CRSS2019CSV/accident.csv')
accident_19_df.head()

,CASENUM,STRATUM,STRATUMNAME,REGION,REGIONNAME,PSU,PJ,PSU_VAR,URBANICITY,URBANICITYNAME,...,LGTCON_IM,LGTCON_IMNAME,WEATHR_IM,WEATHR_IMNAME,MAXSEV_IM,MAXSEV_IMNAME,NO_INJ_IM,NO_INJ_IMNAME,ALCHL_IM,ALCHL_IMNAME
0,201901174219,10,Stratum 10 - Other,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",75,4144,75,2,Rural Area,...,1,Daylight,10,Cloudy,0,No Apparent Injury (O),0,No Person Injured/Property Damage Only Crash,2,No Alcohol Involved
1,201901176655,6,Stratum 6 - LMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",63,4135,63,2,Rural Area,...,3,Dark - Lighted,1,Clear,1,Possible Injury (C),2,2,2,No Alcohol Involved
2,201901176667,8,Stratum 8 - NLMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",65,4138,65,1,Urban Area,...,3,Dark - Lighted,1,Clear,2,Suspected Minor Injury (B),2,2,1,Alcohol Involved
3,201901176694,9,Stratum 9 - LMY PV No Injuries in Crash,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",12,4142,12,1,Urban Area,...,3,Dark - Lighted,1,Clear,0,No Apparent Injury (O),0,No Person Injured/Property Damage Only Crash,2,No Alcohol Involved
4,201901176702,6,Stratum 6 - LMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",12,4142,12,1,Urban Area,...,1,Daylight,1,Clear,1,Possible Injury (C),1,1,2,No Alcohol Involved

,CASENUM,STRATUM,STRATUMNAME,REGION,REGIONNAME,PSU,PJ,PSU_VAR,URBANICITY,URBANICITYNAME,...,LGTCON_IM,LGTCON_IMNAME,WEATHR_IM,WEATHR_IMNAME,MAXSEV_IM,MAXSEV_IMNAME,NO_INJ_IM,NO_INJ_IMNAME,ALCHL_IM,ALCHL_IMNAME
0,201901174219,10,Stratum 10 - Other,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",75,4144,75,2,Rural Area,...,1,Daylight,10,Cloudy,0,No Apparent Injury (O),0,No Person Injured/Property Damage Only Crash,2,No Alcohol Involved
1,201901176655,6,Stratum 6 - LMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",63,4135,63,2,Rural Area,...,3,Dark - Lighted,1,Clear,1,Possible Injury (C),2,2,2,No Alcohol Involved
2,201901176667,8,Stratum 8 - NLMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",65,4138,65,1,Urban Area,...,3,Dark - Lighted,1,Clear,2,Suspected Minor Injury (B),2,2,1,Alcohol Involved
3,201901176694,9,Stratum 9 - LMY PV No Injuries in Crash,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",12,4142,12,1,Urban Area,...,3,Dark - Lighted,1,Clear,0,No Apparent Injury (O),0,No Person Injured/Property Damage Only Crash,2,No Alcohol Involved
4,201901176702,6,Stratum 6 - LMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",12,4142,12,1,Urban Area,...,1,Daylight,1,Clear,1,Possible Injury (C),1,1,2,No Alcohol Involved

In [5]:
# SELECT RETAINED COLUMNS ACCIDENT 2019
accident_19_brief_df= accident_19_df[['CASENUM','URBANICITY','VE_TOTAL','VE_FORMS','PERMVIT','NUM_INJ','MONTH',
                                      'YEAR','DAY_WEEK','HOUR','ALCOHOL','MAX_SEV','WRK_ZONE','LGT_COND','WEATHER']]
accident_19_brief_df.head()

,CASENUM,URBANICITY,VE_TOTAL,VE_FORMS,PERMVIT,NUM_INJ,MONTH,YEAR,DAY_WEEK,HOUR,ALCOHOL,MAX_SEV,WRK_ZONE,LGT_COND,WEATHER
0,201901174219,2,1,1,1,0,1,2019,3,8,2,0,0,1,10
1,201901176655,2,2,2,6,2,1,2019,3,2,9,1,0,3,1
2,201901176667,1,2,2,2,2,1,2019,3,5,1,2,0,3,1
3,201901176694,1,1,1,1,0,1,2019,3,4,2,0,0,3,1
4,201901176702,1,2,2,3,1,1,2019,3,9,2,1,0,1,1

,CASENUM,URBANICITY,VE_TOTAL,VE_FORMS,PERMVIT,NUM_INJ,MONTH,YEAR,DAY_WEEK,HOUR,ALCOHOL,MAX_SEV,WRK_ZONE,LGT_COND,WEATHER
0,201901174219,2,1,1,1,0,1,2019,3,8,2,0,0,1,10
1,201901176655,2,2,2,6,2,1,2019,3,2,9,1,0,3,1
2,201901176667,1,2,2,2,2,1,2019,3,5,1,2,0,3,1
3,201901176694,1,1,1,1,0,1,2019,3,4,2,0,0,3,1
4,201901176702,1,2,2,3,1,1,2019,3,9,2,1,0,1,1

In [6]:
accident_20_brief_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54745 entries, 0 to 54744
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CASENUM     54745 non-null  int64
 1   URBANICITY  54745 non-null  int64
 2   VE_TOTAL    54745 non-null  int64
 3   VE_FORMS    54745 non-null  int64
 4   PERMVIT     54745 non-null  int64
 5   NUM_INJ     54745 non-null  int64
 6   MONTH       54745 non-null  int64
 7   YEAR        54745 non-null  int64
 8   DAY_WEEK    54745 non-null  int64
 9   HOUR        54745 non-null  int64
 10  ALCOHOL     54745 non-null  int64
 11  MAX_SEV     54745 non-null  int64
 12  WRK_ZONE    54745 non-null  int64
 13  LGT_COND    54745 non-null  int64
 14  WEATHER     54745 non-null  int64
dtypes: int64(15)
memory usage: 6.3 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54745 entries, 0 to 54744
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CASENUM     54745 non-null  int64
 1   URBANICITY  54745 non-null  int64
 2   VE_TOTAL    54745 non-null  int64
 3   VE_FORMS    54745 non-null  int64
 4   PERMVIT     54745 non-null  int64
 5   NUM_INJ     54745 non-null  int64
 6   MONTH       54745 non-null  int64
 7   YEAR        54745 non-null  int64
 8   DAY_WEEK    54745 non-null  int64
 9   HOUR        54745 non-null  int64
 10  ALCOHOL     54745 non-null  int64
 11  MAX_SEV     54745 non-null  int64
 12  WRK_ZONE    54745 non-null  int64
 13  LGT_COND    54745 non-null  int64
 14  WEATHER     54745 non-null  int64
dtypes: int64(15)
memory usage: 6.3 MB

In [7]:
accident_19_brief_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54409 entries, 0 to 54408
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CASENUM     54409 non-null  int64
 1   URBANICITY  54409 non-null  int64
 2   VE_TOTAL    54409 non-null  int64
 3   VE_FORMS    54409 non-null  int64
 4   PERMVIT     54409 non-null  int64
 5   NUM_INJ     54409 non-null  int64
 6   MONTH       54409 non-null  int64
 7   YEAR        54409 non-null  int64
 8   DAY_WEEK    54409 non-null  int64
 9   HOUR        54409 non-null  int64
 10  ALCOHOL     54409 non-null  int64
 11  MAX_SEV     54409 non-null  int64
 12  WRK_ZONE    54409 non-null  int64
 13  LGT_COND    54409 non-null  int64
 14  WEATHER     54409 non-null  int64
dtypes: int64(15)
memory usage: 6.2 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54409 entries, 0 to 54408
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CASENUM     54409 non-null  int64
 1   URBANICITY  54409 non-null  int64
 2   VE_TOTAL    54409 non-null  int64
 3   VE_FORMS    54409 non-null  int64
 4   PERMVIT     54409 non-null  int64
 5   NUM_INJ     54409 non-null  int64
 6   MONTH       54409 non-null  int64
 7   YEAR        54409 non-null  int64
 8   DAY_WEEK    54409 non-null  int64
 9   HOUR        54409 non-null  int64
 10  ALCOHOL     54409 non-null  int64
 11  MAX_SEV     54409 non-null  int64
 12  WRK_ZONE    54409 non-null  int64
 13  LGT_COND    54409 non-null  int64
 14  WEATHER     54409 non-null  int64
dtypes: int64(15)
memory usage: 6.2 MB

In [8]:
# APPEND DataFrames
accident_df = accident_19_brief_df.append(accident_20_brief_df)
accident_df.head()

,CASENUM,URBANICITY,VE_TOTAL,VE_FORMS,PERMVIT,NUM_INJ,MONTH,YEAR,DAY_WEEK,HOUR,ALCOHOL,MAX_SEV,WRK_ZONE,LGT_COND,WEATHER
0,201901174219,2,1,1,1,0,1,2019,3,8,2,0,0,1,10
1,201901176655,2,2,2,6,2,1,2019,3,2,9,1,0,3,1
2,201901176667,1,2,2,2,2,1,2019,3,5,1,2,0,3,1
3,201901176694,1,1,1,1,0,1,2019,3,4,2,0,0,3,1
4,201901176702,1,2,2,3,1,1,2019,3,9,2,1,0,1,1

,CASENUM,URBANICITY,VE_TOTAL,VE_FORMS,PERMVIT,NUM_INJ,MONTH,YEAR,DAY_WEEK,HOUR,ALCOHOL,MAX_SEV,WRK_ZONE,LGT_COND,WEATHER
0,201901174219,2,1,1,1,0,1,2019,3,8,2,0,0,1,10
1,201901176655,2,2,2,6,2,1,2019,3,2,9,1,0,3,1
2,201901176667,1,2,2,2,2,1,2019,3,5,1,2,0,3,1
3,201901176694,1,1,1,1,0,1,2019,3,4,2,0,0,3,1
4,201901176702,1,2,2,3,1,1,2019,3,9,2,1,0,1,1

In [9]:
accident_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109154 entries, 0 to 54744
Data columns (total 15 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   CASENUM     109154 non-null  int64
 1   URBANICITY  109154 non-null  int64
 2   VE_TOTAL    109154 non-null  int64
 3   VE_FORMS    109154 non-null  int64
 4   PERMVIT     109154 non-null  int64
 5   NUM_INJ     109154 non-null  int64
 6   MONTH       109154 non-null  int64
 7   YEAR        109154 non-null  int64
 8   DAY_WEEK    109154 non-null  int64
 9   HOUR        109154 non-null  int64
 10  ALCOHOL     109154 non-null  int64
 11  MAX_SEV     109154 non-null  int64
 12  WRK_ZONE    109154 non-null  int64
 13  LGT_COND    109154 non-null  int64
 14  WEATHER     109154 non-null  int64
dtypes: int64(15)
memory usage: 13.3 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 109154 entries, 0 to 54744
Data columns (total 15 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   CASENUM     109154 non-null  int64
 1   URBANICITY  109154 non-null  int64
 2   VE_TOTAL    109154 non-null  int64
 3   VE_FORMS    109154 non-null  int64
 4   PERMVIT     109154 non-null  int64
 5   NUM_INJ     109154 non-null  int64
 6   MONTH       109154 non-null  int64
 7   YEAR        109154 non-null  int64
 8   DAY_WEEK    109154 non-null  int64
 9   HOUR        109154 non-null  int64
 10  ALCOHOL     109154 non-null  int64
 11  MAX_SEV     109154 non-null  int64
 12  WRK_ZONE    109154 non-null  int64
 13  LGT_COND    109154 non-null  int64
 14  WEATHER     109154 non-null  int64
dtypes: int64(15)
memory usage: 13.3 MB

In [10]:
# Export CSV
accident_df.to_csv('accident_19_20.csv')

# VEHICLE DATA

In [11]:
# read CSV vehicle 2020
vehicle_20_df = pd.read_csv('CRSS2020CSV/vehicle.csv',encoding='cp1252')
vehicle_20_df.head()

C:\Users\leske\anaconda3\envs\PythonData\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (45,47,127) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\leske\anaconda3\envs\PythonData\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (45,47,127) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,CASENUM,VEH_NO,STRATUM,STRATUMNAME,REGION,REGIONNAME,PSU,PJ,PSU_VAR,URBANICITY,...,PCRASH1_IM,PCRASH1_IMNAME,MXVSEV_IM,MXVSEV_IMNAME,NUMINJ_IM,NUMINJ_IMNAME,V_ALCH_IM,V_ALCH_IMNAME,PSUSTRAT,WEIGHT
0,202002121240,1,9,Stratum 9 - LMY PV No Injuries in Crash,4,"West (MT, ID, WA, OR, CA, NV, NM, AZ, UT, CO, ...",20,4140,20,2,...,1,Going Straight,0,No Apparent Injury (O),0,No Person Injured in Vehicle,2,No Alcohol Involved,25,161
1,202002121240,2,9,Stratum 9 - LMY PV No Injuries in Crash,4,"West (MT, ID, WA, OR, CA, NV, NM, AZ, UT, CO, ...",20,4140,20,2,...,1,Going Straight,0,No Apparent Injury (O),0,No Person Injured in Vehicle,2,No Alcohol Involved,25,161
2,202002121829,1,8,Stratum 8 - NLMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",28,4139,28,1,...,1,Going Straight,2,Suspected Minor Injury (B),1,1,2,No Alcohol Involved,11,132
3,202002121849,1,9,Stratum 9 - LMY PV No Injuries in Crash,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",12,4142,12,1,...,1,Going Straight,0,No Apparent Injury (O),0,No Person Injured in Vehicle,2,No Alcohol Involved,12,166
4,202002121849,2,9,Stratum 9 - LMY PV No Injuries in Crash,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",12,4142,12,1,...,2,Decelerating in Road,0,No Apparent Injury (O),0,No Person Injured in Vehicle,2,No Alcohol Involved,12,166

,CASENUM,VEH_NO,STRATUM,STRATUMNAME,REGION,REGIONNAME,PSU,PJ,PSU_VAR,URBANICITY,...,PCRASH1_IM,PCRASH1_IMNAME,MXVSEV_IM,MXVSEV_IMNAME,NUMINJ_IM,NUMINJ_IMNAME,V_ALCH_IM,V_ALCH_IMNAME,PSUSTRAT,WEIGHT
0,202002121240,1,9,Stratum 9 - LMY PV No Injuries in Crash,4,"West (MT, ID, WA, OR, CA, NV, NM, AZ, UT, CO, ...",20,4140,20,2,...,1,Going Straight,0,No Apparent Injury (O),0,No Person Injured in Vehicle,2,No Alcohol Involved,25,161
1,202002121240,2,9,Stratum 9 - LMY PV No Injuries in Crash,4,"West (MT, ID, WA, OR, CA, NV, NM, AZ, UT, CO, ...",20,4140,20,2,...,1,Going Straight,0,No Apparent Injury (O),0,No Person Injured in Vehicle,2,No Alcohol Involved,25,161
2,202002121829,1,8,Stratum 8 - NLMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",28,4139,28,1,...,1,Going Straight,2,Suspected Minor Injury (B),1,1,2,No Alcohol Involved,11,132
3,202002121849,1,9,Stratum 9 - LMY PV No Injuries in Crash,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",12,4142,12,1,...,1,Going Straight,0,No Apparent Injury (O),0,No Person Injured in Vehicle,2,No Alcohol Involved,12,166
4,202002121849,2,9,Stratum 9 - LMY PV No Injuries in Crash,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",12,4142,12,1,...,2,Decelerating in Road,0,No Apparent Injury (O),0,No Person Injured in Vehicle,2,No Alcohol Involved,12,166

In [12]:
vehicle_20_brief_df = vehicle_20_df[['CASENUM','VEH_NO','NUMOCCS','M_HARMNAME','MAKENAME','TOW_VEHNAME','TRAV_SP',
                                    'DEFORMEDNAME','TOWEDNAME','SPEEDRELNAME','VTRAFWAYNAME','VSPD_LIM','BODY_TYPNAME',
                                     'MOD_YEAR','P_CRASH1NAME']]
vehicle_20_brief_df.head()

,CASENUM,VEH_NO,NUMOCCS,M_HARMNAME,MAKENAME,TOW_VEHNAME,TRAV_SP,DEFORMEDNAME,TOWEDNAME,SPEEDRELNAME,VTRAFWAYNAME,VSPD_LIM,BODY_TYPNAME,MOD_YEAR,P_CRASH1NAME
0,202002121240,1,1,Motor Vehicle In-Transport,Toyota,No Trailing Units,25,Functional Damage,Towed But Not Due to Disabling Damage,"Yes, Too Fast for Conditions","Two-Way, Not Divided",98,"4-door sedan, hardtop",2018,Going Straight
1,202002121240,2,1,Motor Vehicle In-Transport,Honda,No Trailing Units,30,Functional Damage,Towed But Not Due to Disabling Damage,No,"Two-Way, Not Divided",98,Light Pickup,2007,Going Straight
2,202002121829,1,1,Tree (Standing Only),BMW,No Trailing Units,45,Disabling Damage,Not Towed,No,"Two-Way, Not Divided",25,"4-door sedan, hardtop",2013,Going Straight
3,202002121849,1,99,Motor Vehicle In-Transport,Chrysler,No Trailing Units,15,Reported as Unknown,Not Towed,No,"Two-Way, Divided, Unprotected Median",45,Other or Unknown automobile type,9999,Going Straight
4,202002121849,2,1,Motor Vehicle In-Transport,Nissan/Datsun,No Trailing Units,10,Minor Damage,Not Towed,No,"Two-Way, Divided, Unprotected Median",45,"4-door sedan, hardtop",2018,Decelerating in Road

,CASENUM,VEH_NO,NUMOCCS,M_HARMNAME,MAKENAME,TOW_VEHNAME,TRAV_SP,DEFORMEDNAME,TOWEDNAME,SPEEDRELNAME,VTRAFWAYNAME,VSPD_LIM,BODY_TYPNAME,MOD_YEAR,P_CRASH1NAME
0,202002121240,1,1,Motor Vehicle In-Transport,Toyota,No Trailing Units,25,Functional Damage,Towed But Not Due to Disabling Damage,"Yes, Too Fast for Conditions","Two-Way, Not Divided",98,"4-door sedan, hardtop",2018,Going Straight
1,202002121240,2,1,Motor Vehicle In-Transport,Honda,No Trailing Units,30,Functional Damage,Towed But Not Due to Disabling Damage,No,"Two-Way, Not Divided",98,Light Pickup,2007,Going Straight
2,202002121829,1,1,Tree (Standing Only),BMW,No Trailing Units,45,Disabling Damage,Not Towed,No,"Two-Way, Not Divided",25,"4-door sedan, hardtop",2013,Going Straight
3,202002121849,1,99,Motor Vehicle In-Transport,Chrysler,No Trailing Units,15,Reported as Unknown,Not Towed,No,"Two-Way, Divided, Unprotected Median",45,Other or Unknown automobile type,9999,Going Straight
4,202002121849,2,1,Motor Vehicle In-Transport,Nissan/Datsun,No Trailing Units,10,Minor Damage,Not Towed,No,"Two-Way, Divided, Unprotected Median",45,"4-door sedan, hardtop",2018,Decelerating in Road

In [13]:
# read CSV vehicle 2019
vehicle_19_df = pd.read_csv('CRSS2019CSV/vehicle.csv',encoding='cp1252')
vehicle_19_df.head()

C:\Users\leske\anaconda3\envs\PythonData\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (45,47,141) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,CASENUM,VEH_NO,STRATUM,STRATUMNAME,REGION,REGIONNAME,PSU,PJ,PSU_VAR,URBANICITY,...,VEVENT_IM,VEVENT_IMNAME,PCRASH1_IM,PCRASH1_IMNAME,MXVSEV_IM,MXVSEV_IMNAME,NUMINJ_IM,NUMINJ_IMNAME,V_ALCH_IM,V_ALCH_IMNAME
0,201901174219,1,10,Stratum 10 - Other,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",75,4144,75,2,...,1,Rollover/Overturn,3,Accelerating in Road,0,No Apparent Injury (O),0,No Person Injured in Vehicle,2,No Alcohol Involved
1,201901176655,1,6,Stratum 6 - LMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",63,4135,63,2,...,12,Motor Vehicle In-Transport,1,Going Straight,1,Possible Injury (C),1,1,2,No Alcohol Involved
2,201901176655,2,6,Stratum 6 - LMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",63,4135,63,2,...,12,Motor Vehicle In-Transport,1,Going Straight,1,Possible Injury (C),1,1,2,No Alcohol Involved
3,201901176667,1,8,Stratum 8 - NLMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",65,4138,65,1,...,12,Motor Vehicle In-Transport,15,Changing Lanes,2,Suspected Minor Injury (B),1,1,1,Alcohol Involved
4,201901176667,2,8,Stratum 8 - NLMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",65,4138,65,1,...,12,Motor Vehicle In-Transport,11,Turning Left,1,Possible Injury (C),1,1,2,No Alcohol Involved

C:\Users\leske\anaconda3\envs\PythonData\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (45,47,141) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,CASENUM,VEH_NO,STRATUM,STRATUMNAME,REGION,REGIONNAME,PSU,PJ,PSU_VAR,URBANICITY,...,VEVENT_IM,VEVENT_IMNAME,PCRASH1_IM,PCRASH1_IMNAME,MXVSEV_IM,MXVSEV_IMNAME,NUMINJ_IM,NUMINJ_IMNAME,V_ALCH_IM,V_ALCH_IMNAME
0,201901174219,1,10,Stratum 10 - Other,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",75,4144,75,2,...,1,Rollover/Overturn,3,Accelerating in Road,0,No Apparent Injury (O),0,No Person Injured in Vehicle,2,No Alcohol Involved
1,201901176655,1,6,Stratum 6 - LMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",63,4135,63,2,...,12,Motor Vehicle In-Transport,1,Going Straight,1,Possible Injury (C),1,1,2,No Alcohol Involved
2,201901176655,2,6,Stratum 6 - LMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",63,4135,63,2,...,12,Motor Vehicle In-Transport,1,Going Straight,1,Possible Injury (C),1,1,2,No Alcohol Involved
3,201901176667,1,8,Stratum 8 - NLMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",65,4138,65,1,...,12,Motor Vehicle In-Transport,15,Changing Lanes,2,Suspected Minor Injury (B),1,1,1,Alcohol Involved
4,201901176667,2,8,Stratum 8 - NLMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",65,4138,65,1,...,12,Motor Vehicle In-Transport,11,Turning Left,1,Possible Injury (C),1,1,2,No Alcohol Involved

In [14]:
vehicle_19_brief_df = vehicle_19_df[['CASENUM','VEH_NO','NUMOCCS','M_HARMNAME','MAKENAME','TOW_VEHNAME','TRAV_SP',
                                    'DEFORMEDNAME','TOWEDNAME','SPEEDRELNAME','VTRAFWAYNAME','VSPD_LIM','BODY_TYPNAME',
                                     'MOD_YEAR','P_CRASH1NAME']]
vehicle_19_brief_df.head()

,CASENUM,VEH_NO,NUMOCCS,M_HARMNAME,MAKENAME,TOW_VEHNAME,TRAV_SP,DEFORMEDNAME,TOWEDNAME,SPEEDRELNAME,VTRAFWAYNAME,VSPD_LIM,BODY_TYPNAME,MOD_YEAR,P_CRASH1NAME
0,201901174219,1,1,Rollover/Overturn,Ford,No Trailing Units,998,Disabling Damage,Towed Due to Disabling Damage,"Yes, Too Fast for Conditions",Entrance/Exit Ramp,35,Light Pickup,2006,Accelerating in Road
1,201901176655,1,4,Motor Vehicle In-Transport,Dodge,No Trailing Units,998,Functional Damage,Towed Not Due to Disabling Damage,No,"Two-Way, Not Divided",40,"4-door sedan, hardtop",2015,Going Straight
2,201901176655,2,2,Motor Vehicle In-Transport,Honda,No Trailing Units,998,Minor Damage,Not Reported,No,"Two-Way, Not Divided",98,"Compact Utility (Utility Vehicle Categories ""S...",2006,Going Straight
3,201901176667,1,1,Motor Vehicle In-Transport,Nissan/Datsun,No Trailing Units,40,Disabling Damage,Towed Due to Disabling Damage,No,"Two-Way, Divided, Unprotected Median",35,"Compact Utility (Utility Vehicle Categories ""S...",2000,Changing Lanes
4,201901176667,2,1,Motor Vehicle In-Transport,Chevrolet,No Trailing Units,998,Disabling Damage,Towed Due to Disabling Damage,No,Non-Trafficway or Driveway Access,0,Light Pickup,1979,Turning Left

,CASENUM,VEH_NO,NUMOCCS,M_HARMNAME,MAKENAME,TOW_VEHNAME,TRAV_SP,DEFORMEDNAME,TOWEDNAME,SPEEDRELNAME,VTRAFWAYNAME,VSPD_LIM,BODY_TYPNAME,MOD_YEAR,P_CRASH1NAME
0,201901174219,1,1,Rollover/Overturn,Ford,No Trailing Units,998,Disabling Damage,Towed Due to Disabling Damage,"Yes, Too Fast for Conditions",Entrance/Exit Ramp,35,Light Pickup,2006,Accelerating in Road
1,201901176655,1,4,Motor Vehicle In-Transport,Dodge,No Trailing Units,998,Functional Damage,Towed Not Due to Disabling Damage,No,"Two-Way, Not Divided",40,"4-door sedan, hardtop",2015,Going Straight
2,201901176655,2,2,Motor Vehicle In-Transport,Honda,No Trailing Units,998,Minor Damage,Not Reported,No,"Two-Way, Not Divided",98,"Compact Utility (Utility Vehicle Categories ""S...",2006,Going Straight
3,201901176667,1,1,Motor Vehicle In-Transport,Nissan/Datsun,No Trailing Units,40,Disabling Damage,Towed Due to Disabling Damage,No,"Two-Way, Divided, Unprotected Median",35,"Compact Utility (Utility Vehicle Categories ""S...",2000,Changing Lanes
4,201901176667,2,1,Motor Vehicle In-Transport,Chevrolet,No Trailing Units,998,Disabling Damage,Towed Due to Disabling Damage,No,Non-Trafficway or Driveway Access,0,Light Pickup,1979,Turning Left

In [15]:
vehicle_20_brief_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94718 entries, 0 to 94717
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CASENUM       94718 non-null  int64
 1   VEH_NO        94718 non-null  int64
 2   NUMOCCS       94718 non-null  int64
 3   M_HARMNAME    94718 non-null  object
 4   MAKENAME      94718 non-null  object
 5   TOW_VEHNAME   94718 non-null  object
 6   TRAV_SP       94718 non-null  int64
 7   DEFORMEDNAME  94718 non-null  object
 8   TOWEDNAME     94718 non-null  object
 9   SPEEDRELNAME  94718 non-null  object
 10  VTRAFWAYNAME  94718 non-null  object
 11  VSPD_LIM      94718 non-null  int64
 12  BODY_TYPNAME  94718 non-null  object
 13  MOD_YEAR      94718 non-null  int64
 14  P_CRASH1NAME  94718 non-null  object
dtypes: int64(6), object(9)
memory usage: 10.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94718 entries, 0 to 94717
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CASENUM       94718 non-null  int64
 1   VEH_NO        94718 non-null  int64
 2   NUMOCCS       94718 non-null  int64
 3   M_HARMNAME    94718 non-null  object
 4   MAKENAME      94718 non-null  object
 5   TOW_VEHNAME   94718 non-null  object
 6   TRAV_SP       94718 non-null  int64
 7   DEFORMEDNAME  94718 non-null  object
 8   TOWEDNAME     94718 non-null  object
 9   SPEEDRELNAME  94718 non-null  object
 10  VTRAFWAYNAME  94718 non-null  object
 11  VSPD_LIM      94718 non-null  int64
 12  BODY_TYPNAME  94718 non-null  object
 13  MOD_YEAR      94718 non-null  int64
 14  P_CRASH1NAME  94718 non-null  object
dtypes: int64(6), object(9)
memory usage: 10.8+ MB

In [16]:
vehicle_19_brief_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96717 entries, 0 to 96716
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CASENUM       96717 non-null  int64
 1   VEH_NO        96717 non-null  int64
 2   NUMOCCS       96717 non-null  int64
 3   M_HARMNAME    96717 non-null  object
 4   MAKENAME      96717 non-null  object
 5   TOW_VEHNAME   96717 non-null  object
 6   TRAV_SP       96717 non-null  int64
 7   DEFORMEDNAME  96717 non-null  object
 8   TOWEDNAME     96717 non-null  object
 9   SPEEDRELNAME  96717 non-null  object
 10  VTRAFWAYNAME  96717 non-null  object
 11  VSPD_LIM      96717 non-null  int64
 12  BODY_TYPNAME  96717 non-null  object
 13  MOD_YEAR      96717 non-null  int64
 14  P_CRASH1NAME  96717 non-null  object
dtypes: int64(6), object(9)
memory usage: 11.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96717 entries, 0 to 96716
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CASENUM       96717 non-null  int64
 1   VEH_NO        96717 non-null  int64
 2   NUMOCCS       96717 non-null  int64
 3   M_HARMNAME    96717 non-null  object
 4   MAKENAME      96717 non-null  object
 5   TOW_VEHNAME   96717 non-null  object
 6   TRAV_SP       96717 non-null  int64
 7   DEFORMEDNAME  96717 non-null  object
 8   TOWEDNAME     96717 non-null  object
 9   SPEEDRELNAME  96717 non-null  object
 10  VTRAFWAYNAME  96717 non-null  object
 11  VSPD_LIM      96717 non-null  int64
 12  BODY_TYPNAME  96717 non-null  object
 13  MOD_YEAR      96717 non-null  int64
 14  P_CRASH1NAME  96717 non-null  object
dtypes: int64(6), object(9)
memory usage: 11.1+ MB

In [17]:
# APPEND DataFrames
vehicle_df = vehicle_19_brief_df.append(vehicle_20_brief_df)
vehicle_df.head()

,CASENUM,VEH_NO,NUMOCCS,M_HARMNAME,MAKENAME,TOW_VEHNAME,TRAV_SP,DEFORMEDNAME,TOWEDNAME,SPEEDRELNAME,VTRAFWAYNAME,VSPD_LIM,BODY_TYPNAME,MOD_YEAR,P_CRASH1NAME
0,201901174219,1,1,Rollover/Overturn,Ford,No Trailing Units,998,Disabling Damage,Towed Due to Disabling Damage,"Yes, Too Fast for Conditions",Entrance/Exit Ramp,35,Light Pickup,2006,Accelerating in Road
1,201901176655,1,4,Motor Vehicle In-Transport,Dodge,No Trailing Units,998,Functional Damage,Towed Not Due to Disabling Damage,No,"Two-Way, Not Divided",40,"4-door sedan, hardtop",2015,Going Straight
2,201901176655,2,2,Motor Vehicle In-Transport,Honda,No Trailing Units,998,Minor Damage,Not Reported,No,"Two-Way, Not Divided",98,"Compact Utility (Utility Vehicle Categories ""S...",2006,Going Straight
3,201901176667,1,1,Motor Vehicle In-Transport,Nissan/Datsun,No Trailing Units,40,Disabling Damage,Towed Due to Disabling Damage,No,"Two-Way, Divided, Unprotected Median",35,"Compact Utility (Utility Vehicle Categories ""S...",2000,Changing Lanes
4,201901176667,2,1,Motor Vehicle In-Transport,Chevrolet,No Trailing Units,998,Disabling Damage,Towed Due to Disabling Damage,No,Non-Trafficway or Driveway Access,0,Light Pickup,1979,Turning Left

,CASENUM,VEH_NO,NUMOCCS,M_HARMNAME,MAKENAME,TOW_VEHNAME,TRAV_SP,DEFORMEDNAME,TOWEDNAME,SPEEDRELNAME,VTRAFWAYNAME,VSPD_LIM,BODY_TYPNAME,MOD_YEAR,P_CRASH1NAME
0,201901174219,1,1,Rollover/Overturn,Ford,No Trailing Units,998,Disabling Damage,Towed Due to Disabling Damage,"Yes, Too Fast for Conditions",Entrance/Exit Ramp,35,Light Pickup,2006,Accelerating in Road
1,201901176655,1,4,Motor Vehicle In-Transport,Dodge,No Trailing Units,998,Functional Damage,Towed Not Due to Disabling Damage,No,"Two-Way, Not Divided",40,"4-door sedan, hardtop",2015,Going Straight
2,201901176655,2,2,Motor Vehicle In-Transport,Honda,No Trailing Units,998,Minor Damage,Not Reported,No,"Two-Way, Not Divided",98,"Compact Utility (Utility Vehicle Categories ""S...",2006,Going Straight
3,201901176667,1,1,Motor Vehicle In-Transport,Nissan/Datsun,No Trailing Units,40,Disabling Damage,Towed Due to Disabling Damage,No,"Two-Way, Divided, Unprotected Median",35,"Compact Utility (Utility Vehicle Categories ""S...",2000,Changing Lanes
4,201901176667,2,1,Motor Vehicle In-Transport,Chevrolet,No Trailing Units,998,Disabling Damage,Towed Due to Disabling Damage,No,Non-Trafficway or Driveway Access,0,Light Pickup,1979,Turning Left

In [18]:
vehicle_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191435 entries, 0 to 94717
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   CASENUM       191435 non-null  int64
 1   VEH_NO        191435 non-null  int64
 2   NUMOCCS       191435 non-null  int64
 3   M_HARMNAME    191435 non-null  object
 4   MAKENAME      191435 non-null  object
 5   TOW_VEHNAME   191435 non-null  object
 6   TRAV_SP       191435 non-null  int64
 7   DEFORMEDNAME  191435 non-null  object
 8   TOWEDNAME     191435 non-null  object
 9   SPEEDRELNAME  191435 non-null  object
 10  VTRAFWAYNAME  191435 non-null  object
 11  VSPD_LIM      191435 non-null  int64
 12  BODY_TYPNAME  191435 non-null  object
 13  MOD_YEAR      191435 non-null  int64
 14  P_CRASH1NAME  191435 non-null  object
dtypes: int64(6), object(9)
memory usage: 23.4+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 191435 entries, 0 to 94717
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   CASENUM       191435 non-null  int64
 1   VEH_NO        191435 non-null  int64
 2   NUMOCCS       191435 non-null  int64
 3   M_HARMNAME    191435 non-null  object
 4   MAKENAME      191435 non-null  object
 5   TOW_VEHNAME   191435 non-null  object
 6   TRAV_SP       191435 non-null  int64
 7   DEFORMEDNAME  191435 non-null  object
 8   TOWEDNAME     191435 non-null  object
 9   SPEEDRELNAME  191435 non-null  object
 10  VTRAFWAYNAME  191435 non-null  object
 11  VSPD_LIM      191435 non-null  int64
 12  BODY_TYPNAME  191435 non-null  object
 13  MOD_YEAR      191435 non-null  int64
 14  P_CRASH1NAME  191435 non-null  object
dtypes: int64(6), object(9)
memory usage: 23.4+ MB

In [19]:
# Export CSV
vehicle_df.to_csv('vehicle_19_20.csv')

# PERSON

In [20]:
# read CSV person 2020
person_20_df = pd.read_csv('CRSS2020CSV/person.csv',encoding='cp1252')
person_20_df.head()

,CASENUM,VE_FORMS,VEH_NO,PER_NO,STRATUM,STRATUMNAME,REGION,REGIONNAME,PSU,PJ,...,EJECT_IM,EJECT_IMNAME,PERALCH_IM,PERALCH_IMNAME,SEAT_IM,SEAT_IMNAME,AGE_IM,AGE_IMNAME,PSUSTRAT,WEIGHT
0,202002121240,2,1,1,9,Stratum 9 - LMY PV No Injuries in Crash,4,"West (MT, ID, WA, OR, CA, NV, NM, AZ, UT, CO, ...",20,4140,...,0,Not Ejected,0,No (Alcohol Not Involved),11,"Front Seat, Left Side",61,61 Years,25,161
1,202002121240,2,2,1,9,Stratum 9 - LMY PV No Injuries in Crash,4,"West (MT, ID, WA, OR, CA, NV, NM, AZ, UT, CO, ...",20,4140,...,0,Not Ejected,0,No (Alcohol Not Involved),11,"Front Seat, Left Side",26,26 Years,25,161
2,202002121829,1,1,1,8,Stratum 8 - NLMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",28,4139,...,0,Not Ejected,0,No (Alcohol Not Involved),11,"Front Seat, Left Side",23,23 Years,11,132
3,202002121849,2,1,1,9,Stratum 9 - LMY PV No Injuries in Crash,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",12,4142,...,0,Not Ejected,0,No (Alcohol Not Involved),11,"Front Seat, Left Side",27,27 Years,12,166
4,202002121849,2,2,1,9,Stratum 9 - LMY PV No Injuries in Crash,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",12,4142,...,0,Not Ejected,0,No (Alcohol Not Involved),11,"Front Seat, Left Side",21,21 Years,12,166

,CASENUM,VE_FORMS,VEH_NO,PER_NO,STRATUM,STRATUMNAME,REGION,REGIONNAME,PSU,PJ,...,EJECT_IM,EJECT_IMNAME,PERALCH_IM,PERALCH_IMNAME,SEAT_IM,SEAT_IMNAME,AGE_IM,AGE_IMNAME,PSUSTRAT,WEIGHT
0,202002121240,2,1,1,9,Stratum 9 - LMY PV No Injuries in Crash,4,"West (MT, ID, WA, OR, CA, NV, NM, AZ, UT, CO, ...",20,4140,...,0,Not Ejected,0,No (Alcohol Not Involved),11,"Front Seat, Left Side",61,61 Years,25,161
1,202002121240,2,2,1,9,Stratum 9 - LMY PV No Injuries in Crash,4,"West (MT, ID, WA, OR, CA, NV, NM, AZ, UT, CO, ...",20,4140,...,0,Not Ejected,0,No (Alcohol Not Involved),11,"Front Seat, Left Side",26,26 Years,25,161
2,202002121829,1,1,1,8,Stratum 8 - NLMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",28,4139,...,0,Not Ejected,0,No (Alcohol Not Involved),11,"Front Seat, Left Side",23,23 Years,11,132
3,202002121849,2,1,1,9,Stratum 9 - LMY PV No Injuries in Crash,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",12,4142,...,0,Not Ejected,0,No (Alcohol Not Involved),11,"Front Seat, Left Side",27,27 Years,12,166
4,202002121849,2,2,1,9,Stratum 9 - LMY PV No Injuries in Crash,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",12,4142,...,0,Not Ejected,0,No (Alcohol Not Involved),11,"Front Seat, Left Side",21,21 Years,12,166

In [21]:
person_20_brief_df = person_20_df[['CASENUM','VE_FORMS','VEH_NO','PER_NO','REST_USENAME','REST_MISNAME','HELM_USENAME',
                                  'HELM_MISNAME','DRINKINGNAME','ALC_RESNAME','DRUGSNAME','HOSPITALNAME','LOCATIONNAME',
                                  'SEXNAME','INJ_SEVNAME','PERALCH_IMNAME','SEAT_POSNAME','AGE']]
person_20_brief_df.head()

,CASENUM,VE_FORMS,VEH_NO,PER_NO,REST_USENAME,REST_MISNAME,HELM_USENAME,HELM_MISNAME,DRINKINGNAME,ALC_RESNAME,DRUGSNAME,HOSPITALNAME,LOCATIONNAME,SEXNAME,INJ_SEVNAME,PERALCH_IMNAME,SEAT_POSNAME,AGE
0,202002121240,2,1,1,Shoulder and Lap Belt Used,No Indication of Mis-Use,Not Applicable,None Used/Not Applicable,Not Reported,Not Reported,Not Reported,Not Transported for Treatment,Occupant of a Motor Vehicle,Female,No Apparent Injury (O),No (Alcohol Not Involved),"Front Seat, Left Side",61
1,202002121240,2,2,1,Shoulder and Lap Belt Used,No Indication of Mis-Use,Not Applicable,None Used/Not Applicable,Not Reported,Not Reported,Not Reported,Not Transported for Treatment,Occupant of a Motor Vehicle,Male,No Apparent Injury (O),No (Alcohol Not Involved),"Front Seat, Left Side",26
2,202002121829,1,1,1,Shoulder and Lap Belt Used,No Indication of Mis-Use,Not Applicable,None Used/Not Applicable,No (Alcohol Not Involved),Not Reported,No (drugs not involved),EMS Ground,Occupant of a Motor Vehicle,Male,Suspected Minor Injury (B),No (Alcohol Not Involved),"Front Seat, Left Side",23
3,202002121849,2,1,1,Not Reported,None Used/Not Applicable,Not Applicable,None Used/Not Applicable,Not Reported,Test Not Given,Not Reported,Not Transported for Treatment,Occupant of a Motor Vehicle,Not Reported,Unknown/Not Reported,No (Alcohol Not Involved),"Front Seat, Left Side",998
4,202002121849,2,2,1,Shoulder and Lap Belt Used,No Indication of Mis-Use,Not Applicable,None Used/Not Applicable,No (Alcohol Not Involved),Not Reported,No (drugs not involved),Not Transported for Treatment,Occupant of a Motor Vehicle,Female,No Apparent Injury (O),No (Alcohol Not Involved),"Front Seat, Left Side",21

,CASENUM,VE_FORMS,VEH_NO,PER_NO,REST_USENAME,REST_MISNAME,HELM_USENAME,HELM_MISNAME,DRINKINGNAME,ALC_RESNAME,DRUGSNAME,HOSPITALNAME,LOCATIONNAME,SEXNAME,INJ_SEVNAME,PERALCH_IMNAME,SEAT_POSNAME,AGE
0,202002121240,2,1,1,Shoulder and Lap Belt Used,No Indication of Mis-Use,Not Applicable,None Used/Not Applicable,Not Reported,Not Reported,Not Reported,Not Transported for Treatment,Occupant of a Motor Vehicle,Female,No Apparent Injury (O),No (Alcohol Not Involved),"Front Seat, Left Side",61
1,202002121240,2,2,1,Shoulder and Lap Belt Used,No Indication of Mis-Use,Not Applicable,None Used/Not Applicable,Not Reported,Not Reported,Not Reported,Not Transported for Treatment,Occupant of a Motor Vehicle,Male,No Apparent Injury (O),No (Alcohol Not Involved),"Front Seat, Left Side",26
2,202002121829,1,1,1,Shoulder and Lap Belt Used,No Indication of Mis-Use,Not Applicable,None Used/Not Applicable,No (Alcohol Not Involved),Not Reported,No (drugs not involved),EMS Ground,Occupant of a Motor Vehicle,Male,Suspected Minor Injury (B),No (Alcohol Not Involved),"Front Seat, Left Side",23
3,202002121849,2,1,1,Not Reported,None Used/Not Applicable,Not Applicable,None Used/Not Applicable,Not Reported,Test Not Given,Not Reported,Not Transported for Treatment,Occupant of a Motor Vehicle,Not Reported,Unknown/Not Reported,No (Alcohol Not Involved),"Front Seat, Left Side",998
4,202002121849,2,2,1,Shoulder and Lap Belt Used,No Indication of Mis-Use,Not Applicable,None Used/Not Applicable,No (Alcohol Not Involved),Not Reported,No (drugs not involved),Not Transported for Treatment,Occupant of a Motor Vehicle,Female,No Apparent Injury (O),No (Alcohol Not Involved),"Front Seat, Left Side",21

In [22]:
# read CSV person 2019
person_19_df = pd.read_csv('CRSS2019CSV/person.csv',encoding='cp1252')
person_19_df.head()

,CASENUM,VE_FORMS,VEH_NO,PER_NO,STRATUM,STRATUMNAME,REGION,REGIONNAME,PSU,PJ,...,INJSEV_IM,INJSEV_IMNAME,EJECT_IM,EJECT_IMNAME,PERALCH_IM,PERALCH_IMNAME,SEAT_IM,SEAT_IMNAME,AGE_IM,AGE_IMNAME
0,201901174219,1,1,1,10,Stratum 10 - Other,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",75,4144,...,0,No Apparent Injury (O),0,Not Ejected,0,No (Alcohol Not Involved),11,"Front Seat, Left Side",39,39 Years
1,201901176655,2,1,1,6,Stratum 6 - LMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",63,4135,...,0,No Apparent Injury (O),0,Not Ejected,0,No (Alcohol Not Involved),11,"Front Seat, Left Side",20,20 Years
2,201901176655,2,1,2,6,Stratum 6 - LMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",63,4135,...,1,Possible Injury (C),0,Not Ejected,0,No (Alcohol Not Involved),13,"Front Seat, Right Side",19,19 Years
3,201901176655,2,1,3,6,Stratum 6 - LMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",63,4135,...,0,No Apparent Injury (O),0,Not Ejected,0,No (Alcohol Not Involved),13,"Front Seat, Right Side",47,47 Years
4,201901176655,2,1,4,6,Stratum 6 - LMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",63,4135,...,0,No Apparent Injury (O),0,Not Ejected,0,No (Alcohol Not Involved),21,"Second Seat, Left Side",39,39 Years

,CASENUM,VE_FORMS,VEH_NO,PER_NO,STRATUM,STRATUMNAME,REGION,REGIONNAME,PSU,PJ,...,INJSEV_IM,INJSEV_IMNAME,EJECT_IM,EJECT_IMNAME,PERALCH_IM,PERALCH_IMNAME,SEAT_IM,SEAT_IMNAME,AGE_IM,AGE_IMNAME
0,201901174219,1,1,1,10,Stratum 10 - Other,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",75,4144,...,0,No Apparent Injury (O),0,Not Ejected,0,No (Alcohol Not Involved),11,"Front Seat, Left Side",39,39 Years
1,201901176655,2,1,1,6,Stratum 6 - LMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",63,4135,...,0,No Apparent Injury (O),0,Not Ejected,0,No (Alcohol Not Involved),11,"Front Seat, Left Side",20,20 Years
2,201901176655,2,1,2,6,Stratum 6 - LMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",63,4135,...,1,Possible Injury (C),0,Not Ejected,0,No (Alcohol Not Involved),13,"Front Seat, Right Side",19,19 Years
3,201901176655,2,1,3,6,Stratum 6 - LMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",63,4135,...,0,No Apparent Injury (O),0,Not Ejected,0,No (Alcohol Not Involved),13,"Front Seat, Right Side",47,47 Years
4,201901176655,2,1,4,6,Stratum 6 - LMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",63,4135,...,0,No Apparent Injury (O),0,Not Ejected,0,No (Alcohol Not Involved),21,"Second Seat, Left Side",39,39 Years

In [23]:
person_19_brief_df = person_19_df[['CASENUM','VE_FORMS','VEH_NO','PER_NO','REST_USENAME','REST_MISNAME','HELM_USENAME',
                                  'HELM_MISNAME','DRINKINGNAME','ALC_RESNAME','DRUGSNAME','HOSPITALNAME','LOCATIONNAME',
                                  'SEXNAME','INJ_SEVNAME','PERALCH_IMNAME','SEAT_POSNAME','AGE']]
person_19_brief_df.head()

,CASENUM,VE_FORMS,VEH_NO,PER_NO,REST_USENAME,REST_MISNAME,HELM_USENAME,HELM_MISNAME,DRINKINGNAME,ALC_RESNAME,DRUGSNAME,HOSPITALNAME,LOCATIONNAME,SEXNAME,INJ_SEVNAME,PERALCH_IMNAME,SEAT_POSNAME,AGE
0,201901174219,1,1,1,Shoulder and Lap Belt Used,No Indication of Mis-Use,Not Applicable,None Used/Not Applicable,No (Alcohol Not Involved),Test Not Given,No (drugs not involved),Not Transported,Occupant of a Motor Vehicle,Male,No Apparent Injury (O),No (Alcohol Not Involved),"Front Seat, Left Side",39
1,201901176655,2,1,1,Shoulder and Lap Belt Used,No Indication of Mis-Use,Not Applicable,None Used/Not Applicable,Not Reported,Test Not Given,Not Reported,Not Transported,Occupant of a Motor Vehicle,Male,No Apparent Injury (O),No (Alcohol Not Involved),"Front Seat, Left Side",20
2,201901176655,2,1,2,None Used/Not Applicable,None Used/Not Applicable,Not Applicable,None Used/Not Applicable,Not Reported,Test Not Given,Not Reported,Other,Occupant of a Motor Vehicle,Male,Possible Injury (C),No (Alcohol Not Involved),"Front Seat, Right Side",19
3,201901176655,2,1,3,Reported as Unknown,None Used/Not Applicable,Not Applicable,None Used/Not Applicable,Not Reported,Test Not Given,Not Reported,Not Transported,Occupant of a Motor Vehicle,Male,Unknown/Not Reported,No (Alcohol Not Involved),"Front Seat, Right Side",999
4,201901176655,2,1,4,Reported as Unknown,None Used/Not Applicable,Not Applicable,None Used/Not Applicable,Not Reported,Test Not Given,Not Reported,Not Transported,Occupant of a Motor Vehicle,Male,Unknown/Not Reported,No (Alcohol Not Involved),"Second Seat, Left Side",999

,CASENUM,VE_FORMS,VEH_NO,PER_NO,REST_USENAME,REST_MISNAME,HELM_USENAME,HELM_MISNAME,DRINKINGNAME,ALC_RESNAME,DRUGSNAME,HOSPITALNAME,LOCATIONNAME,SEXNAME,INJ_SEVNAME,PERALCH_IMNAME,SEAT_POSNAME,AGE
0,201901174219,1,1,1,Shoulder and Lap Belt Used,No Indication of Mis-Use,Not Applicable,None Used/Not Applicable,No (Alcohol Not Involved),Test Not Given,No (drugs not involved),Not Transported,Occupant of a Motor Vehicle,Male,No Apparent Injury (O),No (Alcohol Not Involved),"Front Seat, Left Side",39
1,201901176655,2,1,1,Shoulder and Lap Belt Used,No Indication of Mis-Use,Not Applicable,None Used/Not Applicable,Not Reported,Test Not Given,Not Reported,Not Transported,Occupant of a Motor Vehicle,Male,No Apparent Injury (O),No (Alcohol Not Involved),"Front Seat, Left Side",20
2,201901176655,2,1,2,None Used/Not Applicable,None Used/Not Applicable,Not Applicable,None Used/Not Applicable,Not Reported,Test Not Given,Not Reported,Other,Occupant of a Motor Vehicle,Male,Possible Injury (C),No (Alcohol Not Involved),"Front Seat, Right Side",19
3,201901176655,2,1,3,Reported as Unknown,None Used/Not Applicable,Not Applicable,None Used/Not Applicable,Not Reported,Test Not Given,Not Reported,Not Transported,Occupant of a Motor Vehicle,Male,Unknown/Not Reported,No (Alcohol Not Involved),"Front Seat, Right Side",999
4,201901176655,2,1,4,Reported as Unknown,None Used/Not Applicable,Not Applicable,None Used/Not Applicable,Not Reported,Test Not Given,Not Reported,Not Transported,Occupant of a Motor Vehicle,Male,Unknown/Not Reported,No (Alcohol Not Involved),"Second Seat, Left Side",999

In [24]:
person_20_brief_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131962 entries, 0 to 131961
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   CASENUM         131962 non-null  int64
 1   VE_FORMS        131962 non-null  int64
 2   VEH_NO          131962 non-null  int64
 3   PER_NO          131962 non-null  int64
 4   REST_USENAME    131962 non-null  object
 5   REST_MISNAME    131962 non-null  object
 6   HELM_USENAME    131962 non-null  object
 7   HELM_MISNAME    131962 non-null  object
 8   DRINKINGNAME    131962 non-null  object
 9   ALC_RESNAME     131962 non-null  object
 10  DRUGSNAME       131962 non-null  object
 11  HOSPITALNAME    131962 non-null  object
 12  LOCATIONNAME    131962 non-null  object
 13  SEXNAME         131962 non-null  object
 14  INJ_SEVNAME     131962 non-null  object
 15  PERALCH_IMNAME  131962 non-null  object
 16  SEAT_POSNAME    131962 non-null  object
 17  AGE             131962 non-null  int64
dtypes: int64(5), object(13)
memory usage: 18.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131962 entries, 0 to 131961
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   CASENUM         131962 non-null  int64
 1   VE_FORMS        131962 non-null  int64
 2   VEH_NO          131962 non-null  int64
 3   PER_NO          131962 non-null  int64
 4   REST_USENAME    131962 non-null  object
 5   REST_MISNAME    131962 non-null  object
 6   HELM_USENAME    131962 non-null  object
 7   HELM_MISNAME    131962 non-null  object
 8   DRINKINGNAME    131962 non-null  object
 9   ALC_RESNAME     131962 non-null  object
 10  DRUGSNAME       131962 non-null  object
 11  HOSPITALNAME    131962 non-null  object
 12  LOCATIONNAME    131962 non-null  object
 13  SEXNAME         131962 non-null  object
 14  INJ_SEVNAME     131962 non-null  object
 15  PERALCH_IMNAME  131962 non-null  object
 16  SEAT_POSNAME    131962 non-null  object
 17  AGE             131962 non-null  int64
dtypes: int64(5), object(13)
memory usage: 18.1+ MB

In [25]:
person_19_brief_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135410 entries, 0 to 135409
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   CASENUM         135410 non-null  int64
 1   VE_FORMS        135410 non-null  int64
 2   VEH_NO          135410 non-null  int64
 3   PER_NO          135410 non-null  int64
 4   REST_USENAME    135410 non-null  object
 5   REST_MISNAME    135410 non-null  object
 6   HELM_USENAME    135410 non-null  object
 7   HELM_MISNAME    135410 non-null  object
 8   DRINKINGNAME    135410 non-null  object
 9   ALC_RESNAME     135410 non-null  object
 10  DRUGSNAME       135410 non-null  object
 11  HOSPITALNAME    135410 non-null  object
 12  LOCATIONNAME    135410 non-null  object
 13  SEXNAME         135410 non-null  object
 14  INJ_SEVNAME     135410 non-null  object
 15  PERALCH_IMNAME  135410 non-null  object
 16  SEAT_POSNAME    135410 non-null  object
 17  AGE             135410 non-null  int64
dtypes: int64(5), object(13)
memory usage: 18.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135410 entries, 0 to 135409
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   CASENUM         135410 non-null  int64
 1   VE_FORMS        135410 non-null  int64
 2   VEH_NO          135410 non-null  int64
 3   PER_NO          135410 non-null  int64
 4   REST_USENAME    135410 non-null  object
 5   REST_MISNAME    135410 non-null  object
 6   HELM_USENAME    135410 non-null  object
 7   HELM_MISNAME    135410 non-null  object
 8   DRINKINGNAME    135410 non-null  object
 9   ALC_RESNAME     135410 non-null  object
 10  DRUGSNAME       135410 non-null  object
 11  HOSPITALNAME    135410 non-null  object
 12  LOCATIONNAME    135410 non-null  object
 13  SEXNAME         135410 non-null  object
 14  INJ_SEVNAME     135410 non-null  object
 15  PERALCH_IMNAME  135410 non-null  object
 16  SEAT_POSNAME    135410 non-null  object
 17  AGE             135410 non-null  int64
dtypes: int64(5), object(13)
memory usage: 18.6+ MB

In [26]:
# APPEND dataframes
person_df = person_19_brief_df.append(person_20_brief_df)
person_df.tail()

,CASENUM,VE_FORMS,VEH_NO,PER_NO,REST_USENAME,REST_MISNAME,HELM_USENAME,HELM_MISNAME,DRINKINGNAME,ALC_RESNAME,DRUGSNAME,HOSPITALNAME,LOCATIONNAME,SEXNAME,INJ_SEVNAME,PERALCH_IMNAME,SEAT_POSNAME,AGE
131957,202003020795,2,2,1,Shoulder and Lap Belt Used,No Indication of Mis-Use,Not Applicable,None Used/Not Applicable,No (Alcohol Not Involved),Test Not Given,Not Reported,Not Transported for Treatment,Occupant of a Motor Vehicle,Male,No Apparent Injury (O),No (Alcohol Not Involved),"Front Seat, Left Side",50
131958,202003020807,2,1,1,Shoulder and Lap Belt Used,No Indication of Mis-Use,Not Applicable,None Used/Not Applicable,No (Alcohol Not Involved),Test Not Given,Not Reported,Not Transported for Treatment,Occupant of a Motor Vehicle,Female,No Apparent Injury (O),No (Alcohol Not Involved),"Front Seat, Left Side",15
131959,202003020807,2,1,2,Shoulder and Lap Belt Used,No Indication of Mis-Use,Not Applicable,None Used/Not Applicable,Not Reported,Test Not Given,Not Reported,Not Transported for Treatment,Occupant of a Motor Vehicle,Female,No Apparent Injury (O),No (Alcohol Not Involved),"Front Seat, Right Side",15
131960,202003020807,2,1,3,Shoulder and Lap Belt Used,No Indication of Mis-Use,Not Applicable,None Used/Not Applicable,Not Reported,Test Not Given,Not Reported,Not Transported for Treatment,Occupant of a Motor Vehicle,Male,No Apparent Injury (O),No (Alcohol Not Involved),"Second Seat, Right Side",15
131961,202003020807,2,2,1,Shoulder and Lap Belt Used,No Indication of Mis-Use,Not Applicable,None Used/Not Applicable,No (Alcohol Not Involved),Test Not Given,Not Reported,Not Transported for Treatment,Occupant of a Motor Vehicle,Male,No Apparent Injury (O),No (Alcohol Not Involved),"Front Seat, Left Side",46

,CASENUM,VE_FORMS,VEH_NO,PER_NO,REST_USENAME,REST_MISNAME,HELM_USENAME,HELM_MISNAME,DRINKINGNAME,ALC_RESNAME,DRUGSNAME,HOSPITALNAME,LOCATIONNAME,SEXNAME,INJ_SEVNAME,PERALCH_IMNAME,SEAT_POSNAME,AGE
131957,202003020795,2,2,1,Shoulder and Lap Belt Used,No Indication of Mis-Use,Not Applicable,None Used/Not Applicable,No (Alcohol Not Involved),Test Not Given,Not Reported,Not Transported for Treatment,Occupant of a Motor Vehicle,Male,No Apparent Injury (O),No (Alcohol Not Involved),"Front Seat, Left Side",50
131958,202003020807,2,1,1,Shoulder and Lap Belt Used,No Indication of Mis-Use,Not Applicable,None Used/Not Applicable,No (Alcohol Not Involved),Test Not Given,Not Reported,Not Transported for Treatment,Occupant of a Motor Vehicle,Female,No Apparent Injury (O),No (Alcohol Not Involved),"Front Seat, Left Side",15
131959,202003020807,2,1,2,Shoulder and Lap Belt Used,No Indication of Mis-Use,Not Applicable,None Used/Not Applicable,Not Reported,Test Not Given,Not Reported,Not Transported for Treatment,Occupant of a Motor Vehicle,Female,No Apparent Injury (O),No (Alcohol Not Involved),"Front Seat, Right Side",15
131960,202003020807,2,1,3,Shoulder and Lap Belt Used,No Indication of Mis-Use,Not Applicable,None Used/Not Applicable,Not Reported,Test Not Given,Not Reported,Not Transported for Treatment,Occupant of a Motor Vehicle,Male,No Apparent Injury (O),No (Alcohol Not Involved),"Second Seat, Right Side",15
131961,202003020807,2,2,1,Shoulder and Lap Belt Used,No Indication of Mis-Use,Not Applicable,None Used/Not Applicable,No (Alcohol Not Involved),Test Not Given,Not Reported,Not Transported for Treatment,Occupant of a Motor Vehicle,Male,No Apparent Injury (O),No (Alcohol Not Involved),"Front Seat, Left Side",46

In [27]:
person_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 267372 entries, 0 to 131961
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   CASENUM         267372 non-null  int64
 1   VE_FORMS        267372 non-null  int64
 2   VEH_NO          267372 non-null  int64
 3   PER_NO          267372 non-null  int64
 4   REST_USENAME    267372 non-null  object
 5   REST_MISNAME    267372 non-null  object
 6   HELM_USENAME    267372 non-null  object
 7   HELM_MISNAME    267372 non-null  object
 8   DRINKINGNAME    267372 non-null  object
 9   ALC_RESNAME     267372 non-null  object
 10  DRUGSNAME       267372 non-null  object
 11  HOSPITALNAME    267372 non-null  object
 12  LOCATIONNAME    267372 non-null  object
 13  SEXNAME         267372 non-null  object
 14  INJ_SEVNAME     267372 non-null  object
 15  PERALCH_IMNAME  267372 non-null  object
 16  SEAT_POSNAME    267372 non-null  object
 17  AGE             267372 non-null  int64
dtypes: int64(5), object(13)
memory usage: 38.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 267372 entries, 0 to 131961
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   CASENUM         267372 non-null  int64
 1   VE_FORMS        267372 non-null  int64
 2   VEH_NO          267372 non-null  int64
 3   PER_NO          267372 non-null  int64
 4   REST_USENAME    267372 non-null  object
 5   REST_MISNAME    267372 non-null  object
 6   HELM_USENAME    267372 non-null  object
 7   HELM_MISNAME    267372 non-null  object
 8   DRINKINGNAME    267372 non-null  object
 9   ALC_RESNAME     267372 non-null  object
 10  DRUGSNAME       267372 non-null  object
 11  HOSPITALNAME    267372 non-null  object
 12  LOCATIONNAME    267372 non-null  object
 13  SEXNAME         267372 non-null  object
 14  INJ_SEVNAME     267372 non-null  object
 15  PERALCH_IMNAME  267372 non-null  object
 16  SEAT_POSNAME    267372 non-null  object
 17  AGE             267372 non-null  int64
dtypes: int64(5), object(13)
memory usage: 38.8+ MB

In [28]:
# Export CSV
person_df.to_csv('person_19_20.csv')