In [1]:
# Import the dependencies.
import pandas as pd
from sqlalchemy import create_engine

# Import the CRSS connection string.
from config import crss_conn_string

In [2]:
# Create CSSR engine.
cssr_engine = create_engine(crss_conn_string);

In [5]:
# Connect to server.
cssr_conn = cssr_engine.connect();

In [8]:
# Create accidents, vehicles, people data frame.
avp_df = pd.read_sql("SELECT * FROM public.accident_vehicle_person", cssr_conn)

In [9]:
# Show first 10 rows.
avp_df.head()

,casenum,urbancity,ve_total,ve_forms,permvit,num_inj,month,year,day_week,hour,...,drinkingname,alc_resname,drugsname,hospitalname,locationname,sex_imname,injsev_imname,peralch_imname,seat_imname,age_im
0,201901174219,2,1,1,1,0,1,2019,3,8,...,None,None,None,None,None,None,None,None,None,NaN
1,201901176655,2,2,2,6,2,1,2019,3,2,...,None,None,None,None,None,None,None,None,None,NaN
2,201901176655,2,2,2,6,2,1,2019,3,2,...,None,None,None,None,None,None,None,None,None,NaN
3,201901176667,1,2,2,2,2,1,2019,3,5,...,None,None,None,None,None,None,None,None,None,NaN
4,201901176667,1,2,2,2,2,1,2019,3,5,...,None,None,None,None,None,None,None,None,None,NaN